@use 'sass:math';

$blue: rgb(43, 39, 130);
$red: rgb(191, 31, 85);
$white: #fafafa;
$black: black;

$title-font: "Space Mono";

$fontSizeContent: 20px;
$fontSizeSectionTitle: 31.25px;
$fontSizeSectionTitleMobile: 25px;

$min-screen-size: 320px;
$container-max-width: 1148px;

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

@mixin focus-ring {
  &:-moz-focusring {
    text-decoration: none;
    padding: 0.1em 0.2em;
    margin: -0.1em -0.2em;
    border-radius: 3px;
    box-shadow: inset 0 0 0 0.12rem var(--focus-color, #EA215A);
    outline: none;
  }

  &:focus-visible {
    text-decoration: none;
    padding: 0.1em 0.2em;
    margin: -0.1em -0.2em;
    border-radius: 3px;
    box-shadow: inset 0 0 0 0.12rem var(--focus-color, #EA215A);
    outline: none;
  }
}

@mixin escape-container() {
  margin-left: calc(-1 * var(--container-padding));
  margin-right: calc(-1 * var(--container-padding));
}

@mixin container-padding() {
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

@function px-to-rem($value-as-px) {
  @return #{math.div($value-as-px, 16)}rem;
}

@function strip-unit($value) {
  @return math.div($value, $value * 0 + 1);
}

@function fluid($min-vw, $max-vw, $min-size, $max-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-size);
  $u4: unit($max-size);

  @if $u1 == $u2 and $u3 == $u4 {
    @return max(#{$min-size}, min(#{$max-size}, calc(#{$min-size} + #{strip-unit($max-size - $min-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}))));
  }
}
