@import '../../resources/variables';

.md h2, .h2 {
  font-size: $fontSizeSectionTitle;
  margin-top: 0;

  font-family: 'Space Mono';
  color: white;
  display: inline-block;
  padding: 5px 20px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background: var(--blue);

  &.red {
    background: $red;
  }
}

.md {
  p {
    font-size: $fontSizeContent;
  }

  strong {
    font-weight: normal;
    background: $red;
    padding: 2px;
    color: $white;
    box-decoration-break: clone;

    &::selection {
      background: white;
    }
  }

  a {
    color: var(--red);
    text-decoration: underline;
    text-underline-position: under;

    &:visited {
      color: #952f52;
    }
  }

  code {
    color: var(--red);
    //font-size: 16px;
    font-family: 'Space Mono';
  }
}

