@use '../../resources/variables' as *;

.md h2, .h2 {
  font-size: fluid($min-screen-size, $container-max-width, $fontSizeSectionTitleMobile, $fontSizeSectionTitle);
  margin-top: 0;

  font-family: 'Space Mono';
  color: white;
  display: block;
  width: fit-content;
  padding: 5px 20px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background: var(--blue);

  &::selection {
    background: white;
    color: var(--blue);
  }

  &.red {
    background: $red;

    &::selection {
      color: $red;
    }
  }

  &.transparent {
    background: transparent;
    color: var(--color);

    &::selection {
      background: #bf1f55;
      color: white;
    }
  }

  @media print {
    padding: 0 8px;
  }
}

.md a, .link {
  color: var(--red);

  @include focus-ring;
}

.md {
  p {
    font-size: $fontSizeContent;
  }

  strong {
    font-weight: normal;
    background: rgba($red, 0.3);
    padding: 2px;
    color: var(--color);
    box-decoration-break: clone;
  }

  del {
    opacity: 0.2;
  }

  ins {
    text-decoration-color: rgba(0,0,0,0.2);

    html:global(.dark) & {
      text-decoration-color: rgba(255,255,255,0.2);
    }
  }

  code {
    color: var(--red);
    font-family: 'Space Mono';
  }

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

ul {
  list-style: square;
}

li::marker {
  color: #bf1f55;
}
