@import '../../resources/variables';

.container {
  max-width: $container-max-width + 64px;
  --container-padding: 32px;
  padding: 0 var(--container-padding);
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 410px) {
    --container-padding: 16px;
  }
}
