@use '../../resources/variables' as *;
@import '~normalize.css';

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scrollbar-color: #{$red} rgb(21, 21, 21);

  --background: #000000;
  --color: #{$white};
  --red: rgb(255, 102, 154);
  --blue: rgb(79, 73, 202);

  &:where(:global(.light)) {
    --background: #{$white};
    --color: #000000;
    --red: #{$red};
    --blue: #{$blue};
    scrollbar-color: var(--red) #dbdbdb;
  }

  //@media print {
  //  --background: white;
  //  --color: black;
  //}
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;

  background: var(--background);
  color: var(--color);
  font-family: 'Work Sans', sans-serif;
}

::selection {
  background: rgba(white, 0.99);
  color: $red;

  :global(.light) & {
    background: $red;
    color: white;
    opacity: 1;
  }
}

a {
  text-underline-position: under;
  text-decoration-thickness: 2px;
}

.jump-to-content {
  &:not(:focus) {
    width: 1px;
    height: 1px;
    margin: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }

  border-radius: 0;
  position: absolute;
  color: white;

  // selector importance is the worst
  &:visited {
    color: white;
  }

  background: $red;
  padding: 10px 20px;
  display: block;
  left: 0;
  top: 0;
}

.darkModeToggle {
  position: absolute;
  top: 16px;
  right: 16px;
  background: transparent;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  z-index: 10;
  color: var(--color);
  padding: 0;
  display: flex;

  @include focus-ring;

  svg {
    height: 44px;
    width: 44px;
  }
}

:global {
  .section {
    $margin: #{fluid($min-screen-size, $container-max-width, 64px, 256px)};

    margin-top: $margin;
    margin-bottom: $margin;

    @media print {
      break-inside: avoid;
      margin-top: 32px;
      margin-bottom: 32px;
    }
  }

  @media print {
    .noprint {
      display: none;
    }
  }
}
