@import '~normalize.css';
@import '../../resources/variables';

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  --background: #000000;
  --color: #{$white};

  &:global(.light) {
    --background: #{$white};
    --color: #000000;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;

  background: var(--background);
  font-family: 'Work Sans', sans-serif;
}

::selection { background: $red; color: white; }

.jump-to-content {
  &:not(:focus) {
    width: 1px;
    height: 1px;
    margin: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }

  position: absolute;
  color: white;

  // selector importance is the worst
  &:visited {
    color: white;
  }

  background: $red;
  padding: 10px 20px;
  display: block;
  left: 0;
  top: 0;
}
