@import 'variables';

.doc-footer {
  background-image: radial-gradient(ellipse closest-side at center, #f5f5f5 0%, #d9d9d9 100%);

  text-align: center;
  overflow: visible;

  .doc-nav-wrapper {
    margin: 0 auto;
    padding: $rowHeight * 3 $columnWidth;
    max-width: columnsSize($columnCount);
  }

  .doc-nav {

    flex: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    ul {
      max-width: 450px;
      min-width: 320px;
    }
  }

  h2 {
    margin: $rowHeight $gutterWidth;
    font-weight: bold;
    color: $textColorSub;
    font-size: 0.9375rem;
    letter-spacing: 0.2em;
  }

  p {
    margin: 0;
    padding: 5px 0;
    font-size: 0.75rem;
    color: $textColorSub;

    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  a {
    color: inherit;

    &:hover::after {
      color: $affordanceColor;
    }
  }
}

.copyleft {
  display: inline-block;
  text-align: right;
  margin: 0;
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";

  &::before {
    content: '\00a9  ';
  }
}
