.doc-footer {
  background-image: radial-gradient(ellipse closest-side at center, #f5f5f5 0%, #d9d9d9 100%);

  text-align: center;
  overflow: visible;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: space-between;

  .doc-nav {
    flex: 1;
    flex-wrap: wrap;

    margin: 40px 5px;
  }

  h2 {
    font-weight: bold;
    color: $textColorSub;
    font-size: 0.9375rem;
    letter-spacing: 0.2em;
  }

  p {
    margin: 0 0 5px;
    font-size: 0.75rem;
    color: $textColorSub;

    a {
      color: inherit;
    }
  }
}

.copyleft {
  display: inline-block;
  text-align: right;
  margin: 0;
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";

  &::before {
    content: '\00a9  ';
  }
}
