@import 'variables';

.doc-header, .doc-footer {
  box-shadow: 0 -1px 6px rgba(0,0,0,0.16) inset, 0 -1px 6px rgba(0,0,0,0.23) inset;
}

.doc-header-wrapper {
  display: flex;
  flex-direction: column-reverse;
  max-width: calc(#{columnsSize($columnCount + 1)} + 10vw);
  margin: 0 auto;
}

.doc-header-nav {
  margin: {
    left: 5vw;
    right: $gutterWidth;
  }

  bottom: 0;
  z-index: 2;

  justify-content: flex-start;

  ul {
    max-width: 400px;
  }

  li span {
    top: initial;
    bottom: -20px;
    transform: translateY(100%) translateX(-50%);
  }

  a::after {
    color: #E8E8E8;
    filter: drop-shadow(0px 0px 2px rgba(0,0,0,0.22));
  }

  a:hover::after {
    color: lighten(#E8E8E8, 3);
  }
}

.doc-header-content {
  box-sizing: border-box;
  position: relative;
  z-index: 1;

  margin: {
    right: 5vw;
    top: $rowHeight * 4;
    bottom: $rowHeight;
    left: $gutterWidth;
  }

  h1 {
    font-weight: lighter;
    font-size: 3.375em;

    text-align: right;
    $spacing: 0.135em;
    letter-spacing: $spacing;
    margin: 0 -$spacing 0 0;

    line-height: 1;

    color: $white;
  }

  h2 {
    font-size: 0.875em;
    color: darken($white, 5);

    $spacing: 1.165em;
    letter-spacing: $spacing;
    margin: 0 (-$spacing + 0.5em) 0 0;
    text-align: right;

    line-height: 1.3;
  }
}

.doc-header, .doc-header-after {
  background: url(../../assets/img/pattern.svg) fixed right;
  background-size: cover;
}
