@import 'variables';

html {
  user-select: none;
  font-size: 1.1em;
}

p, a, h1, h2, h3, h4, h5, h6, br, li, td, figcaption {
  user-select: text;
}

::selection {
  background: $affordanceColor;
  color: white;
}

*:focus {
  outline-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: Arial, sans-serif;
  color: $textColorMain;

  text-align: center;
  text-transform: uppercase;
}

li, td, figcaption, p {
  font-family: futura-pt, arial, sans-serif;
}

figure {
  margin: 0;
}

section {
  text-align: center;
  max-width: columnsSize($columnCount) + $gutterWidth;
  margin: 0 auto;
}

h3 {
  font-size: 1.1em;
  line-height: 1.3;
  letter-spacing: 2px;
  margin: 0;
}

body > main h2 {
  //font-weight: bold;
  margin: $rowHeight * 6 auto $rowHeight * 2;
  font-size: 1.2rem;
  line-height: 1.15;
  letter-spacing: 0.25em;
  position: relative;

  display: inline-block;

  &::after {
    bottom: -1em;
    position: absolute;
    content: '';
    display: block;
    height: 1px;
    width: 90%;
    left: 5%;
    background-color: $textColorMain;
  }
}

a {
  text-decoration: none;
  color: $affordanceColor;
  font-weight: bold;
  letter-spacing: 0.6px;

  &:hover {
    color: darken($affordanceColor, 8);
  }
}

em {
  color: $affordanceColor;
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
}

p, ul.list {
  font-size: 1rem;
  line-height: 1.45;
  margin: $rowHeight 0;
  color: $textColorMain;
}

ul.list {
  list-style: square;
  padding-left: 20px;

  ul {
    padding-left: 20px;
    list-style: none;
  }
}

ins {
  text-decoration: none;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  > .column {
    min-width: 320px;
    max-width: columnsSize($columnCount / 2);

    margin: $rowHeight $gutterWidth / 2 0 $gutterWidth / 2;
    text-align: left;

    flex: 1;
  }
}

.button {
  text-align: center;
  //border-radius: 5px;
  width: 160px;
  text-transform: uppercase;
  display: block;
  color: white;
  padding: 20px 0;

  &.large {
    width: 300px;
    min-height: 88px;
  }
}

a.button, button.button, input.button {
  font-weight: normal;
  border: 2px $affordanceColor solid;

  color: $affordanceColor;
  background-color: transparent;

  position: relative;
  overflow: hidden;

  transition: color 0.5s;

  &::after {
    content: '';

    display: block;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 100%;
    left: 0;

    z-index: -1;

    transition: top 0.3s;
    background-color: $affordanceColor;
  }

  &.active, &:hover {
    color: white;

    &::after {
      top: 0;
    }
  }
}

span.button {
  background-color: $textColorSub;
  border: 2px $textColorSub solid;
}

body.hide {
  overflow: hidden;
}

.fullscreen {
  z-index: 5;

  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  /*
  left: 20px;
  top: 20px;


  height: calc(100vh - 40px);
  width: calc(100vw - 40px);*/
}
