@import 'variables';

.doc-nav {

  display: flex;
  align-items: center;

  ul {
    flex: 1;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
  }

  li {
    display: inline-block;
    text-align: center;

    margin: 0;

    span {
      position: absolute;
      left: 50%;
      top: -20px;
      transform: translateY(-100%) translateX(-50%);

      z-index: 1000;
      display: none;

      width: 120px;
      padding: 7.5px;

      background-color: rgba(darken($white, 4), 0.8);
      border-radius: 7px;
    }

    a:hover span {
      display: block;
    }

    a {
      font-weight: 100;
      color: $textColorSub;

      display: inline-block;
      position: relative;

      //noinspection CssNoGenericFontName
      &::after {
        font-family: 'fontello';
        font-size: 40px;
      }

      &.email::after {
        content: '\e802';
      }

      &.tumblr::after {
        content: '\e800';
      }

      &.twitter::after {
        content: '\e803';
      }

      &.linkedin::after {
        content: '\e804';
      }

      &.github::after {
        content: '\e801';
      }
    }
  }
}
