@import 'variables';

body.jscript {
  .project_details:not(.active) {
    display: none;
  }
}

body.noscript {
  .project_details:nth-child(even) {
    flex-direction: row-reverse;
  }
}

.project_details_list {
  margin-top: 3vw;
  margin-bottom: 3vw;
}

.project_details {
  margin-bottom: 45px;
  align-items: center;

  .decorative {
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    figcaption {
      display: none;
    }

    img, figure {
      width: 100%;
      max-width: 500px;
    }

    img {
      border-radius: 5px;
    }
  }

  ul {
    margin: 0 !important;
    text-align: center;

    li {
      display: inline-block;
      margin: 7.5px 2.5%;
    }
  }
}

.project-nav {

  li {
    display: inline-block;
  }

  a {
    font-size: 0;

    background-color: $affordanceColor;

    display: inline-block;

    $size: 50px;
    width: $size;
    height: $size;

    $margin: 5px;
    margin: 0 $margin;

    //border-radius: 50%;

    position: relative;
    transition: background-color 0.5s;

    cursor: pointer;

    &:hover {
      background-color: lighten($affordanceColor, 5);

      &::after {
        display: block;
      }
    }

    &.active {
      background-color: transparent;
    }

    &::before {
      content: '';

      display: block;
      width: $size;
      height: $size;

      $borderSize: 2px;
      border: $borderSize solid lighten($affordanceColor, 10);
      opacity: 0;
      //border-radius: 50%;

      position: absolute;
      left: -$borderSize;
      top: -$borderSize;

      transform: scale(1.2);

      transition: opacity 0.5s, transform 0.5s;
    }

    &.active::before {
      content: '';

      opacity: 1;
      transform: scale(1.05);
    }

    &::after {
      content: attr(title);
      font-size: 1rem;

      position: absolute;
      bottom: -7.5px;
      left: 50%;
      font-weight: normal;

      transform: translateY(100%) translateX(-50%);

      display: none;
    }
  }
}

#project_portfolio::before {
  content: '';
  background: url(../../assets/img/pattern.svg) right;
  background-size: 600px 700px;
  width: 400px;
  animation: mask1 200s linear infinite;
  display: block;
  height: 300px;

  min-width: 320px;
  max-width: 600px;
  margin-top: 50px;
  line-height: 22px;

  margin-left: 3vw;
  margin-right: 3vw;
}
