
/* TODO: major third? */
/* TODO: anchors before sections */
/* TODO: move social links to their own section at the very bottom */
/* TODO new picture */

/* index.css | https://guylian.me/assets/css/index.css */

p, li {
    font-size: 20px;
}

.welcome p {
    /* padding: 0.4em 10% 0.4em 0.7em; */
    padding: 0;
}

.past-experiences .time, .projects .time {
    /* color: #5d5c5c; */
    color: #A2A3A3;
}

/* Element | https://guylian.me/ */

.description > p:nth-child(1) {
    padding-top: 0;
    margin-top: 16px;
}

/* Element | https://guylian.me/ */

.description > p:nth-child(2) {
    margin-top: 16px;
}

/* Element | https://guylian.me/ */

.past-experiences > article:nth-child(2) > span:nth-child(2) {
    color: #A2A3A3;
}

/* Element | https://guylian.me/ */

.projects > h2:nth-child(1) {
    font-size: 39.06px;
}

/* Inline #2 | https://guylian.me/ */

.about-me-section strong {
    font-weight: normal;
    background: rgba(255, 255, 255, 0.94);
    padding: 2px;
    color: #2b2782;
    box-decoration-break: clone;
}
