#intro, body>footer {
	background-image: radial-gradient(circle closest-corner at center, #F5F5F5 0%, #D9D9D9 100%);
}

#intro {
	display: flex;
	position: relative;

	flex-direction: row;
	align-items: center;
	justify-content: center;

	height: 100vh;

	div {
		margin: 15px;

		h1 {
			font-size: 54px;
			//font-weight: bold;

			text-align: right;
			$spacing: 0.15em;
			letter-spacing: $spacing;
			margin-right: -$spacing;
		}

		h2 {
			font-size: 14px;
			color: $textColorSub;

			$spacing: 1.17em;
			letter-spacing: $spacing;
			margin-right: (-$spacing + 0.2em);
			text-align: right;

			&:after {
				display: none;
			}
		}
	}
}

body>footer {
	text-align: center;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	height: 250px;

	section {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;

		h2 {
			font-weight: bold;
			color: $textColorSub;
			font-size: 15px;
			letter-spacing: 0.7em;
		}

		ul {
			margin-top: 30px;
			li {
				display: inline-block;
				margin-right: 45px;
				&:last-of-type {
					margin-right: 0;
				}

				a {
					background-image: url('../../assets/img/icons.png');
					height: 38px;
					width: 40px;
					display: inline-block;

					font-size: 0;

					&:hover {
						&.github {
							background-position: 0 38px;
						}

						&.email {
							background-position: -40px 38px;
						}

						&.tumblr {
							background-position: -80px 38px;
						}

						&.twitter {
							background-position: -120px 38px;
						}
					}

					&.email {
						background-position: -40px 0;
					}

					&.tumblr {
						background-position: -80px 0;
					}

					&.twitter {
						background-position: -120px 0;
					}
				}
			}
		}
	}

	p {
		font-size: 12px;
		color: $textColorSub;

		a {
			color: inherit;
		}
	}
}