h1 {
	font-weight: normal;
	letter-spacing: 2px;
	font-family: 'Source Sans Pro', sans-serif;
}

body > section {
	height: 100vh;

	$darkColor: rgb(233, 233, 233);
	$brightColor: invert($darkColor);

	&:nth-of-type(odd) {
		background-color: $darkColor;
		color: $brightColor;
	}

	&:nth-of-type(even) {
		background-color: $brightColor;
		color: $darkColor;
	}
}