#i_me_myself {
	h2 {
		margin-bottom: 30px;
	}
	margin-top: 50px;
	margin-bottom: 50px;

	.columns {
		flex-direction: row-reverse;
		margin-top: 50px;

		div:first-of-type {
			display: flex;
			align-items: center;
			justify-content: center;

			figure {
				figcaption {
					position: absolute; // to avoid messing with the cuts
					right: 0;
					color: $textColorSub;
				}

				margin: 0 0 50px 0;
				position: relative;

				$cutSize: 90px;
				&:before {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					border-bottom: $cutSize solid white;
					border-right: $cutSize solid transparent;
					width: 0;
					height: 0;
				}

				&:after {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					border-top: $cutSize solid white;
					border-left: $cutSize solid transparent;
					width: 0;
					height: 0;
				}
			}
		}
	}
}