@import '../../resources/variables';

.welcome {
  position: relative;
  top: 0;
  left: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: var(--color);

  &.phase-2 {
    h1::after {
      width: 90%;
    }

    .description {
      width: 100%;
    }
  }

  > div {
    position: relative;
    z-index: 4;
    display: flex;
    flex-direction: column;
  }

  .description {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    white-space: pre;

    width: 0;

    transition: width 1s ease-in-out;
  }

  &.noAnimation {
    h1::after {
      transition: none;
    }

    .description {
      transition: none;
    }
  }

  p {
    background: black;
    color: $white;
    display: inline-block;
    padding: 0;
    font-family: 'Space Mono', monospace;

    margin: 0;
    &:not(:last-child) {
      margin-bottom: 1em;
    }

    html:global(.light) & {
      padding: 0.4em 10% 0.4em 0.7em;

      @media (max-width: 400px) {
        padding: 0;
        background: transparent;
        color: black;
      }
    }

    font-size: fluid(320px, 1200px, 16px, $fontSizeContent);
  }

  h1 {
    align-self: center;
    position: relative;
    line-height: 1.2em;
    text-align: center;

    animation: glitch 3s steps(100);

    font-size: fluid(320px, 1200px, 60px, 177px);

    user-select: none;
    font-family: 'Space Mono', monospace;
    text-transform: lowercase;
    font-weight: normal;
    margin: 0 0 calc(var(--bar-height) + 0.27em);

    --bar-height: calc(0.1em / 6);
    html:global(.light) & {
      --bar-height: calc(0.5em / 6);
    }

    &::after {
      content: '';

      display: block;
      width: 0;
      background: currentcolor;
      position: absolute;
      transition: width 1s ease-in-out;
      left: -0.15em;
      bottom: 0;
      line-height: 0;

      height: var(--bar-height);
    }
  }
}
