@import '../../resources/variables';

.welcome {
  position: relative;
  top: 0;
  left: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: var(--color);

  &.phase-2 {
    h1::after {
      width: 90%;
    }

    .description {
      width: 100%;
    }
  }

  > div {
    position: relative;
    z-index: 4;
  }

  .description {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    white-space: pre;

    width: 0;

    transition: width 1s ease-in-out;
  }

  p {
    background: black;
    color: white;
    display: inline-block;
    padding: 0;
    font-family: 'Space Mono', monospace;

    margin: 1.2em 0 0;

    html:global(.light) & {
      padding: 0.4em 10% 0.4em 0.7em;
    }

    font-size: $fontSizeContent;
  }

  h1 {
    position: relative;
    line-height: 1.2em;

    animation: glitch 3s steps(100);
    font-size: 177px;

    font-family: 'Space Mono', monospace;
    text-transform: lowercase;
    font-weight: normal;
    margin: 0 0 48px;

    &::after {
      content: '';

      display: block;
      width: 0;
      background: currentcolor;
      position: absolute;
      top: 100%;
      transition: width 1s ease-in-out;
      left: -0.15em;
      bottom: 0;
      line-height: 0;

      height: calc(0.1em / 6);
      html:global(.light) & {
        height: calc(0.5em / 6);
      }
    }
  }
}
