@import '../../resources/variables';

$shadowSpacing: var(--shadow-offset);

.footer {
  @media (max-width: 664px) {
    text-align: center;
  }
}

.button {
  --shadow-offset: 16px;

  font-family: 'Space Mono';
  font-size: 31.25px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  margin: 0 var(--shadow-offset) var(--shadow-offset) 0;

  color: white;
  background: #bf1f55;

  :global(.light) & {
    background: #BF1F55;
  }

  //font-weight: bold;
  padding: 8px 32px 18px;
  position: relative;

  &:hover {
    text-decoration: underline;
  }

  &:-moz-focusring {
    text-decoration: none;
    outline: none;

    span {
      padding: 0.1em 0.2em;
      margin: -0.1em -0.2em;
      border-radius: 3px;
      box-shadow: inset 0 0 0 0.12rem $white;
      outline: none;
    }
  }

  &:focus {
    text-decoration: none;
    outline: none;

    span {
      padding: 0.1em 0.2em;
      margin: -0.1em -0.2em;
      border-radius: 3px;
      box-shadow: inset 0 0 0 0.12rem $white;
      outline: none;
    }
  }

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: $shadowSpacing;
    left: $shadowSpacing;
    width: 100%;
    height: 100%;
    background: var(--blue);
  }

  @media (max-width: 470px) {
    font-size: 25px;
    --shadow-offset: 8px;
  }
}

$bitSize: calc(#{$shadowSpacing} / 10);

.contactInfo {
  margin: 128px 0 256px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.socialLinks {
  display: flex;
  justify-content: space-around;
  align-items: stretch;

  position: relative;
  max-width: 600px;
  width: 100%;

  --shadow-offset: 16px;
  margin: 96px var(--shadow-offset) var(--shadow-offset) 0;
  padding: 32px;

  background: #E4447A;
  font-family: 'Space Mono';

  a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #2B2782;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    align-items: center;

    --focus-color: #{$white};
    @include focus-ring;

    &:hover {
      color: white;
    }
  }

  svg {
    flex: 1;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: $shadowSpacing;
    left: $shadowSpacing;
    width: 100%;
    height: 100%;
    background: var(--blue);
  }

  @media (max-width: 530px) {
    flex-direction: column;
    width: auto;

    a:not(:first-child) {
      margin-top: 32px;
    }
  }
}

.footerInfo {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: space-between;
}

.sourceCode,
.vat {
  text-align: right;
  color: #A2A3A3;
  font-family: 'Space Mono';

  a {
    color: inherit;
  }
}
