$shadowSpacing: var(--shadow-offset);

.footer {
  @media (max-width: 664px) {
    text-align: center;
  }
}

.button {
  --shadow-offset: 16px;

  font-family: 'Space Mono';
  font-size: 31.25px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  margin: 0 var(--shadow-offset) var(--shadow-offset) 0;

  color: white;
  background: #bf1f55;

  :global(.light) & {
    background: #BF1F55;
  }

  //font-weight: bold;
  padding: 8px 32px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: $shadowSpacing;
    left: $shadowSpacing;
    width: 100%;
    height: 100%;
    background: var(--blue);
  }

  &:hover .buttonHover,
  &:focus .buttonHover {
    display: block;
  }

  @media (max-width: 470px) {
    font-size: 25px;
    --shadow-offset: 8px;
  }
}

$bitSize: calc(#{$shadowSpacing} / 10);
.buttonHover {
  display: none;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: $shadowSpacing;
    height: $shadowSpacing;
  }

  &::before {
    bottom: calc(#{$bitSize} * -1);
    left: calc(#{$bitSize} * -1);
    border-bottom: $bitSize solid var(--color);
    border-left: $bitSize solid var(--color);
  }

  &::after {
    top: calc(#{$bitSize} * -1);
    right: calc(#{$bitSize} * -1);
    border-top: $bitSize solid var(--color);
    border-right: $bitSize solid var(--color);
  }
}

.contactInfo {
  margin: 128px 0 256px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.socialLinks {
  display: flex;
  justify-content: space-around;
  align-items: stretch;

  position: relative;
  max-width: 600px;
  width: 100%;

  --shadow-offset: 16px;
  margin: 96px var(--shadow-offset) var(--shadow-offset) 0;
  padding: 32px;

  background: #E4447A;
  font-family: 'Space Mono';

  a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #2B2782;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    align-items: center;

    &:hover {
      color: white;
    }
  }

  svg {
    flex: 1;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: $shadowSpacing;
    left: $shadowSpacing;
    width: 100%;
    height: 100%;
    background: var(--blue);
  }

  @media (max-width: 530px) {
    flex-direction: column;
    width: auto;

    a:not(:first-child) {
      margin-top: 32px;
    }
  }
}

.sourceCode {
  text-align: right;

  a {
    color: #A2A3A3;
    font-family: 'Space Mono';
  }
}
