@use '../../resources/variables' as *;

$shadowSpacing: var(--shadow-offset);

.footer {
  background: $red;
  --focus-color: var(--blue);
  @media (max-width: 664px) {
    text-align: center;
  }
}

.footerSection.footerSection {
  margin-bottom: 0;
}

.button {
  --shadow-offset: 16px;

  font-family: 'Space Mono';
  font-size: 31.25px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  margin: 0 var(--shadow-offset) var(--shadow-offset) 0;

  color: white;
  background: #bf1f55;

  :global(.light) & {
    background: #BF1F55;
  }

  //font-weight: bold;
  padding: 8px 32px 18px;
  position: relative;

  &:hover {
    text-decoration: underline;
  }

  &:-moz-focusring {
    text-decoration: none;
    outline: none;

    span {
      padding: 0.1em 0.2em;
      margin: -0.1em -0.2em;
      border-radius: 3px;
      box-shadow: inset 0 0 0 0.12rem $white;
      outline: none;
    }
  }

  &:focus {
    text-decoration: none;
    outline: none;

    span {
      padding: 0.1em 0.2em;
      margin: -0.1em -0.2em;
      border-radius: 3px;
      box-shadow: inset 0 0 0 0.12rem $white;
      outline: none;
    }
  }

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: $shadowSpacing;
    left: $shadowSpacing;
    width: 100%;
    height: 100%;
    background: var(--blue);
  }

  @media (max-width: 470px) {
    font-size: 25px;
    --shadow-offset: 8px;
  }
}

$bitSize: calc(#{$shadowSpacing} / 10);

.contactInfo {
  $margin: #{fluid($min-screen-size, $container-max-width, 32px, 128px)};
  margin: $margin 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.socialLinks {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  gap: 16px;
  @media (max-width: 768px) {
    gap: 32px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
  }

  position: relative;
  width: 100%;

  font-family: $title-font;

  a {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: $white;
    font-weight: bold;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
    align-items: center;

    @include focus-ring;

    &:hover span {
      background: var(--blue);
    }

    span {
      margin-top: 8px;
      padding: 0 4px;
    }
  }

  svg {
    flex: 1;
    width: 36px;
    height: 36px;
  }

  @media (max-width: 530px) {
    flex-direction: column;
    width: auto;

    a:not(:first-child) {
      margin-top: 32px;
    }
  }
}

.footerInfo {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: space-between;
  padding-bottom: 16px;
}

.sourceCode,
.vat {
  margin: 0;
  text-align: left;
  color: $white;
  font-family: $title-font;

  a {
    color: inherit;
  }
}

.shadow {
  width: fit-content;
  position: relative;
  transform: translateY(-50%);

  > * {
    position: relative;
    z-index: 1;
  }

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 8px;
    left: 8px;
    background: var(--color);
  }
}
