@import '../../resources/variables';

.container {
  display: flex;
  margin-bottom: 256px;
  justify-content: space-between;
}

.content {
  max-width: 600px;
}

.picture {
  --shadow-offset: 32px;
  position: relative;
  margin-right: var(--shadow-offset);
  margin-bottom: var(--shadow-offset);
  margin-left: 32px; // not related to shadow
  height: 718.45px;
  max-width: 387px;
  min-width: 220px;
  width: 100%;

  @media (max-width: 900px) {
    --shadow-offset: 16px;
  }

  &::after {
    content: '';
    position: absolute;
    background: var(--blue);
    height: 100%;
    width: 100%;
    left: var(--shadow-offset);
    top: var(--shadow-offset);
  }

  img {
    position: absolute;
    left: 0;
    top: 0;
    //position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 700px) {
  .container{
    flex-direction: column;
  }

  .content {
    max-width: none;
  }

  .picture {
    margin-left: 0;
    max-width: none;
    width: calc(100% - var(--shadow-offset));
    padding-bottom: 42%;
    height: 0;
  }
}
