@import '../../resources/variables';

.container {
  display: flex;
  margin-bottom: 256px;
}

.picture {
  position: relative;
  margin-left: 128px;
  margin-right: 32px;
  margin-bottom: 32px;
  height: 718.45px;

  &::after {
    content: '';
    position: absolute;
    background: var(--blue);
    height: 100%;
    width: 100%;
    left: 32px;
    top: 32px;
  }

  img {
    position: relative;
    z-index: 1;
    max-width: 387px;
    height: 100%;
    object-fit: cover;
  }
}
